@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('images/background1.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  position: relative;
  width: 40rem;
  height: 10rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3rem);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.6rem;
  padding: 2rem;
  color: #fff;
  transition: height 0.6s ease;
}

.search-box {
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.search-box i {
  position: absolute;
  left: 1rem;
  font-size: 2.8rem;
}

.search-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 1rem;
  font-size: 2.2rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 4.8rem 0 4.8rem;
}

.search-box input::placeholder {
  color: #fff;
  text-transform: capitalize;
}

.search-box button {
  position: absolute;
  right: 0;
  width: 4rem;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2.8rem;
  color: #fff;
  padding: 0 4rem 0 0.5rem;
  cursor: pointer;
}

.weather-box {
  text-align: center;
  margin: 4rem 0;
}

.weather-box,
.weather-details,
.not-found {
  overflow: hidden;
  visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
  visibility: visible;
}

.weather-box img {
  width: 60%;
}

.weather-box .temperature {
  position: relative;
  font-size: 6.4rem;
  line-height: 1;
  font-weight: 700;
  margin: 2rem 0 0.6rem -3rem;
}

.weather-box .temperature span {
  position: absolute;
  font-size: 2.4rem;
  margin-left: 0.4rem;
}

.weather-box .description {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details {
  position: absolute;
  bottom: 4rem;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  display: flex;
}

.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
}

.weather-details .humidity {
  padding-left: 2rem;
  justify-content: flex-start;
}

.weather-details .wind {
  padding-right: 2rem;
  justify-content: flex-end;
}

.weather-details i {
  font-size: 5.6rem;
  margin-right: 1rem;
}

.weather-details span {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 500;
}

.weather-details p {
  font-size: 1.4rem;
  font-weight: 500;
}

.not-found {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 11rem;
}

.not-found img {
  width: 65%;
}

.not-found p {
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.city-hide {
  display: none;
}
